/*CSS Reset*/

*
{
  margin:0;
  padding:0;
}

/* a{
    text-decoration: none;
    background-color: #333333;
    color: #ffffff;
    border-color: #555555;
    padding: 1em 2em 1em 2em;
    
} */
.buttonReadMore{
    text-decoration: none;
    background-color: #333333;
    color: #ffffff;
    padding: 1rem 2rem 1rem 2rem;
    border: 1px solid #575757;
}
a:hover{
    border-color: #eaeaea;
    color: #333333;
}
    

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.1rem;
    background-color: #333333;
    line-height: 1.4rem;  
}

.top-section{
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 45vh;
    color: #ffffff;
    padding: 2em; 
}

.software-dev{
    background-color: #eaeaea;
    padding: 2em;
}

h1, h2{
text-align: center;
margin: 0 0 2rem 0;
}

.programming-lang{
    background-color: #ffffff;
    border: 1px solid #333333;
    /* padding: 10rem 2rem;
    display: inline; */
    /* margin: 10rem; */
    text-align: center;


}
.img-prog{
    /* width: 20%; */
    display: inline-block;

}
.libraries{
    background-color: #ffffff;
    border: 1px solid #333333;
    text-align: center;
    display: inline-block;

}
