/*CSS Reset*/

*
{
  margin:0;
  padding:0;
  text-decoration: none;
}


/* a{
    text-decoration: none;
    background-color: #333333;
    color: #ffffff;
    border-color: #555555;
    padding: 1em 2em 1em 2em;
    
} */
.buttonReadMore{
    
    background-color: #333333;
    color: #ffffff;
    padding: 1rem 2rem 1rem 2rem;
    border: 1px solid #575757;
}
a:hover{
    border-color: #eaeaea;
    color: #333333;
}
    
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.1rem;
    background-color: #333333;
    line-height: 1.4rem;  
}

.top-section{
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25vh;
    color: #ffffff;
    padding: 2rem; 
}

.software-dev{
    background-color: #eaeaea;
    padding: 2rem;
}

h1, h2{
text-align: center;
margin: 0 0 2rem 0;
}

/* using display inline block */
/* h3{
    padding: 2rem;
}

.bottom{
    display: inline-block;
    background-color: #ffffff;
    width: 20rem;  
}

.img-prog{
    width: 20rem;
    max-width: 0 100%;
}

.img-lib{
    width: 20rem;
    max-width: 0 100%;

}
.bottom-content {
    padding: 0 2rem 10rem 2rem;
} */

/* using grid */
div{
    display: grid;
}

img{
    width: 100%;
    min-width: 20rem;
}
.main-section{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main-section1{
    background-color: #ffffff;
    margin: 0 0.125rem;
}
.main-heading{
    padding: 1rem;
    
}
.bottom-content{
    margin: 0 0 1rem 0;
}
.bottom-section{
    grid-template-columns: 1fr 1fr;
    
}
.bottom-employers{
    background-color:#2691d7;
    padding: 2rem;

}
.bottom-contact{
    background-color:#ffffff;
    padding: 2rem;
}

.footer-created{
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    color: #ffffff;
    margin: auto;
    padding: 2rem 0;
    background-color: #000000;
}
a:link{
    color: #ffffff;
}







